.banner {
  background-size: 'cover';
  background-position: 'center center';
  position: relative;
  height: 525px;
  color: #fff;
  object-fit: contain;
  // object-fit contain keeps the aspect ratio when resizing window
}

.banner_contents {
  margin-left: 40px;
  padding-top: 130px;
  height: 270px;
  text-shadow: 0px 0px 5px #111;
  h1 {
    font-size: 3rem;
    font-weight: 800;
  }
  p:first-of-type {
    padding-top: 1rem;
    text-transform: uppercase;
    font-weight: bolder;
  }
  p:nth-of-type(2) {
    width: 45rem;
    line-height: 1.5;
    padding: 1rem 0 1rem 0;
    font-size: 1rem;
    max-width: 360px;
    max-height: 100px;
  }
}

.banner_buttons button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 10px;
  padding: .5rem 2rem;
  margin-right: 1rem;
  &:first-child {
    background-color: #e50914;
    box-shadow: 0px 0px 20px #e50914;
    &:hover {
      color: #e50914;
      background-color: #e6e6e6;
      box-shadow: 0px 0px 20px #e6e6e6;
      transition: all 0.3s;
    }
  }
  &:nth-child(2) {
    background-color: rgba(51, 51, 51, 0.5);
    &:hover {
      color: #000;
      background-color: #e6e6e6;
      box-shadow: 0px 0px 20px #e6e6e6;
      transition: all 0.5s;
    }
  }
}

// invisible div on the bottom of page
// linear gradient(degrees, start color, midpoint color, end color)
.banner_fade {
  height: 8rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
