.nav {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  padding: 20px;
  width: 100%;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav_black {
  background-color: #111;
}

.nav_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  .nav_logo {
    left: 0;
    width: 90px;
    object-fit: contain;
    padding-left: 20px;
    cursor: pointer;
  }
  .nav_links {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    width: 380px;
    margin-right: auto;
    margin-left: 40px;
    p {
      color: #fff;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        text-underline-offset: 8px;
        text-decoration-thickness: 4px;
        color: #e50914;
      }
    }
  }
  .nav_avatar {
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
}
